<div class="page-head">
  <h1>New Activity</h1>
</div>

<h4 class="text-center">{{activitiesAdd.message}}</h4>

<div class="jumbotron">
  <h4>Title</h4>
  <input type="text" ng-model="activitiesAdd.title" placeholder="Title" autofocus><br>

  <h4>Trip data</h4>
  <label class="btn btn-default btn-file">
    Browse <input type="file" id="tripFile" style="display: none;">
  </label>
  <br><br>
  <button ng-click="activitiesAdd.add()" class="btn btn-md btn-primary pull-center">Add Activity</button>
</div>
