<div class="jumbotron">
  <h1>ActivityBook</h1>
  <p class="lead">
    <img src="images/bicycle-rider.png" alt="I'm Yeoman"><br>
    An activity based social network.
  </p>
</div>

<div class="row marketing">
  <h2>M.E.A.N based application</h2>
  <h4>MongoDB</h4>
  <p>
    Utilising MongoDB (with mongoose package) for persistent database storage.
  </p>

  <h4>Express</h4>
  <p>
    Express for backend API hosting/routing.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS for front end interface (that utilises backend API).
  </p>

  <h4>Node</h4>
  <p>NodeJS for ALOT. Business login, API etc.</p>
</div>
