<p>
  <div class="page-head">
    <h1 class="text-center">My Activities</h1>
    <button ng-click="activities.addActivity()" class="btn btn-md btn-primary pull-center">Add Activity</button>
  </div>

  <h4 class="text-center">{{activities.message}}</h4>
  <div class="container">
  	<div class="row">
      <div class="card col-sm-12 text-center activity" ng-repeat="act in activities.myActivities">
        <div class="card-block">
          <h4 class="card-title">{{act.title}}</h4>
          <img class="card-img-top" src="images/yeoman.png" alt="Card image cap">
          <p class="card-text">{{act.tripData}}</p>
          <h6 class="card-subtitle mb-2 text-muted">
            Date: {{act.time | date:'medium'}}<br>
            Posted by: {{act.posterName}}
          </h6>
          <button ng-click="activities.updateActivity(act.actID)" class="btn btn-xs btn-warning pull-center">Update</button>
          <button ng-click="activities.deleteActivity(act.actID)" class="btn btn-xs btn-danger pull-center">Delete</button>
          <br><br>

          <div ng-repeat="comment in act.comments" class="comment">
            <p class="card-text">
              {{comment.comment}}<br>
              <a href={{comment.url}}>{{comment.url}}</a>

              <h6 class="card-subtitle mb-2 text-muted">
                Date: {{comment.time | date:'medium'}}<br>
                By {{comment.posterName}}
              </h6>
            </p>
          </div>
          <button ng-click="activities.comment()" class="btn btn-xs btn-primary pull-center">Comment</button>
          <br><br>

        </div>
      </div>
  	</div>
  </div>
</p>
